@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
.speedyui {
    --su-primary-color: #814fff;
    --su-secondary-color: #212529;
    font-family: "Lexend", sans-serif;
    --su-nav-link-color: var(--bs-dark);
}

.speedyui-header .nav-link {
    color: var(--bs-gray-800);
}
.speedyui-header .nav-link:hover {
    color: var(--su-primary-color);
}
.speedyui-header .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    z-index: 9;
}
@media (min-width: 992px) {
    .speedyui-header .navbar-collapse {
        position: initial;
        box-shadow: none;
    }
}
@media (min-width: 992px) {
    .speedyui-header .dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        margin-top: 0.125rem;
    }
}
.speedyui-header .dropdown .dropdown-menu {
    margin-top: 0.125rem;
    transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
    .speedyui-header .dropdown .dropdown-menu {
        opacity: 0;
        display: block;
        margin-top: 1rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}
.speedyui-header .dropdown .dropdown-item {
    color: var(--bs-dropdown-color);
}
.speedyui-header .dropdown .dropdown-item:hover {
    color: var(--su-primary-color);
}
.speedyui-header .dropdown .dropdown-item:active {
    color: #fff;
    background-color: var(--su-primary-color);
}
.speedyui-header .dropdown .dropdown-toggle::after {
    display: none;
}
.speedyui-header .primary-btn {
    background-color: var(--su-secondary-color);
}
.speedyui-header .primary-btn:hover {
    background-color: var(--su-primary-color);
}

.speedyui-hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (min-width: 992px) {
    .speedyui-hero {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
.speedyui-hero p {
    font-size: 18px;
    line-height: 1.8;
}
.speedyui-hero h1 {
    font-weight: 500;
}
.speedyui-hero .primary-btn {
    background-color: var(--su-primary-color);
    color: #fff;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.speedyui-hero .primary-btn:after {
    transition: all 0.3s;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
.speedyui-hero .primary-btn:after,
.speedyui-hero .primary-btn:before {
    background: var(--su-secondary-color);
    content: "";
    position: absolute;
    z-index: -1;
}
.speedyui-hero .primary-btn:hover:after {
    height: 100%;
    width: 135%;
}

.card {
    position: relative;
    display: flex;
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

